<nav class="navbar navbar-expand-sm  d-flex justify-content-between bg-danger shadow p-3  mb-5 bg-body-danger h-100">
    
     <div class="container-fluid ">
        <a class="navbar-brand " href="#"><h2 class="text-light ">IFood</h2></a>    
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse " id="navbarSupportedContent" >
                <ul class="navbar-nav w-100 justify-content-end  me-auto mb-2 mb-lg-0">
                  <li class="nav-item ">
                     <a class="nav-link link-light link-offset-2 link-opacity-10-hover" 
                      routerLink="dashboard" routerLinkActive="active"
                     >Dashboard</a>
                  </li>
                    
                    <li class="nav-item ">
                       <a class="nav-link link-light link-offset-2 link-opacity-10-hover" 
                       routerLink="dadosloja" routerLinkActive="active"
                       
                       >Dados da Loja</a>
                    </li>
                    <li class="nav-item">
                       <a class="nav-link link-light link-offset-2 link-opacity-10-hover" 
                       routerLink="taxatempo" routerLinkActive="active"
                       
                       >Taxa & Tempo</a>
                    </li>
                    <li class="nav-item ">
                       <a class="nav-link link-light link-offset-2 link-opacity-50-hover " 
                       routerLink="cardapio" routerLinkActive="active"
                       ariaCurrentWhenActive="step"
                       >Cardápio</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link link-light link-offset-2 link-opacity-50-hover" >Sair</a>
                    </li>
                </ul>
        </div>
     </div>
</nav>


